<div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pie Chart</h5>

        <!-- Pie Chart -->
        <canvas id="pieChart" style="max-height: 400px; display: block; box-sizing: border-box; height: 400px; width: 881px;" width="1102" height="500"></canvas>
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new Chart(document.querySelector('#pieChart'), {
              type: 'pie',
              data: {
                labels: [
                  'Red',
                  'Blue',
                  'Yellow'
                ],
                datasets: [{
                  label: 'My First Dataset',
                  data: [300, 50, 100],
                  backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                  ],
                  hoverOffset: 4
                }]
              }
            });
          });
        </script>
        <!-- End Pie CHart -->

      </div>
    </div>
  </div>