<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">My candidacy</h5>
            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">Offer Id</th>
                  <th scope="col">Marks</th>
                  <th scope="col">B2 English</th>
                  <th scope="col">B2 French</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let c of listCandidacy'>
                  <td>{{c.offer.offerId}}</td>
                  <td>{{c.marks}}</td>
                  <td>{{c.levelEng}}</td>
                  <td>{{c.levelFr}}</td>
                  <td class="badge bg-warning">{{c.status}}</td>
                </tr>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Add candidacy</h5>
       <!-- General Form Elements -->
       <form *ngIf="form">
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Option</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example">
              <option selected>Choose your Option</option>
              <option value="1">GL</option>
              <option value="2">TWIN</option>
              <option value="3">CLOUD</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputNumber" class="col-sm-2 col-form-label">IdOffer</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" [(ngModel)]="candidacy.offerId" [ngModelOptions]="{standalone:true}">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputNumber" class="col-sm-2 col-form-label">IdUser</label>
          <div class="col-sm-10">
            <input class="form-control" type="text"[(ngModel)]="candidacy.userId" [ngModelOptions]="{standalone:true}">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputNumber" class="col-sm-2 col-form-label">Marks</label>
          <div class="col-sm-10">
            <input class="form-control" type="file" [(ngModel)]="candidacy.attachements" [ngModelOptions]="{standalone:true}">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputNumber" class="col-sm-2 col-form-label">B2 English</label>
          <div class="col-sm-10">
            <input class="form-control" type="file"  [(ngModel)]="candidacy.B2Eng" [ngModelOptions]="{standalone:true}" >
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputNumber" class="col-sm-2 col-form-label">B2 French</label>
          <div class="col-sm-10">
            <input class="form-control" type="file"  [(ngModel)]="candidacy.B2Fr" [ngModelOptions]="{standalone:true}">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" (click)="addCandidacy(candidacy)">Send</button>
          </div>
        </div>

      </form><!-- End General Form Elements -->



    </div>
  </div>
</main>

