<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">
    <section class="articles">
        <article *ngFor = "let c of offers">
    
    
            <div class="card" >
              <button class="bi bi-bookmark" class="btn btn-primary" (click)="toggleFavorite(c.offerId)"><i class="bi bi-bookmark"  [class.fa-bookmark-o]="!isFavorite" [class.fa-bookmark]="isFavorite"></i></button>
                <img src="assets/img/logooo.png" class="card-img-top" alt="..." style="width: 400px; height: 200px;">

                <div class="card-body">
                  <h5 class="card-title">{{c.title}}</h5>
                  <p class="card-text">{{c.description}}<br>
                    {{c.frais}} <br>
                    {{c.fieldOfStudy}} <br>
                    {{c.nbPlace}}
                  </p>
                  <button class="btn btn-primary">Apply</button>
                  
                  
                </div>
              </div>
              
             
    
          <!-- <div class="article-wrapper">
            <figure>
              <img src="https://picsum.photos/id/1011/800/450" alt="" />
            </figure>
            <div class="article-body">
              <h2>{{c.title}}</h2>
              <p>
               {{c.description}}<br>
               {{c.frais}}<br>
               {{c.fieldOfStudy}}<br>
               {{c.nbPlace}}
              </p>
              <a href="#" class="read-more">
                Read more <span class="sr-only">about this is some title</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </a>
            </div>
          </div>-->
        </article>
         
       
      
      </section>
</main>
