<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Event</h5>
            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                    <th scope="col">Id</th>
                  <th scope="col">title</th>
                  <th scope="col">start</th>
                  <th scope="col">end</th>
                
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let e of ListEvent'>
                    <td>{{e.id}}</td>
                  <td>{{e.title}}</td>
                  <td>{{e.start}}</td>
                  <td>{{e.end}}</td>
                  
            
                  
                </tr>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
            <full-calendar [options]="calendarOptions"></full-calendar>
          </div>
        </div>

      </div>
    </div>
  </section>
  
  
</main>


